{{template "header" .}}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{gettext "About"}}</h1>
                </div>
                <!-- /.col-lg-12 -->
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
                            {{gettext "About TinyBI"}}
                        </div>
						<div class="panel-body">
							<p>{{gettext "TinyBI, Version 1.0 Alpha"}}</P>
							<p>{{gettext "2018, TinyBI Development Team"}}</P>
						</div>
					</div>
				</div>
            </div>
{{template "footer"}}